* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.facts {
    display: flex;
    justify-content: flex-end;
    
}

.facts-box {
    width: 606px;
    height: 485px;
    background-color: bisque;
    columns: 2;
    padding: 10px;
}

.Other-fact-box {
    width: 50px;
    height: 50px;
    padding: 10px;
    border: 2px;
}