* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contact {
    display: flex;
    justify-content: center;
}

.contact-box {
    width: 606px;
    height: 485px;
    background-color: aqua;
    columns: 2;
    padding: 10px;
}